body {
    margin: 20px auto;
    
    text-align: center;
    color: #fff;
    background-color: #000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1, h3 {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
}

h3 {
  padding-left: 15px;
}

table {
  border-collapse:collapse;
}

td {
  padding:5px;
}

td#small {
  font-size: 60%;
  padding-top: 0px;
  padding-bottom: 20px;
}

td#up {
  padding-bottom: 0px;
}

.button {
  width: 130px;
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.button2 {
  width: 70px;
  background-color: black;
  color: white;
  border: none;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 80%;
}

.centering {
  padding: 10px;
}

#nextback {
padding-top: 10px;
padding-left:10px;
}

#wrapper {
  width: 100%;
  margin-left: 10px;
}

div.float {
  float: left;
    width: 30%;
}

div.section {
 border-radius: 25px;
 border: 2px solid #111;
 background-color: #111;
 padding: 15px; 
 margin: 15px;
 margin-top: 0;
}

div#fullimgdiv {
  width: 60%;
}

.section {
  text-align: left;
}

input.smaller {
  width: 60px;
}

input.med {
  width: 140px;
}

#fullimg {
    border-radius: 25px;
    border: 2px solid #111;
    margin: 0 10px;
    padding: 0;
}

p#authors {
  color: #A3C2FF;
  margin-top: -24px;
  font-size: 80%;
}

.odd
{
  background-color: #222;
}

.shapes span {
   display: inline-block;
   margin: 5px;
   text-align: center;
}

.shapes img {
    width: 50px;
    height: 50px;
}

.fb-share-button {
  padding-top: 20px;
  padding-left: 40%;
}

.unvisible {
display: none;
}

.visible {
display: block;
}

.color_span {
    display: block;
}

.text {
  font-size: 80%;
}

#galery {
    width: 100%;
}

a.button {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    text-align: center;
}

#galery .button, #tutorial .button {
    background-color: #111;
    position: absolute;
    top: 30px;
    left: 40px;
}

#galery .images {
}

#galery img {
 border-radius: 25px;
 border: 2px solid #111;
 background-color: #111;
 margin: 15px;
 margin-top: 0;
 cursor: pointer;
}

#galery #img_big {
    position: absolute;
    margin: 20px 5%;
    top: 20px;
    width: 90%;
    display: none;
}

#tutorial .section {
    padding-left: 50px;
}

#tutorial th {
    text-align: right;
    padding-right: 40px;
    width: 200px;
}
